#container {
  width:500px;
  color: #FAE0D3;
  font-size: 16px;
  font-family: monospace;
  background: #1E344A;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  display: flex;
  flex-direction: column;
}

#instructions {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

#textArea {
  background-color: #8B97A3;
}

#submitButton {
width: 100px;
background-color: #657686;
color: white;
margin: 10px 10px 10px 0px;
}

#result {
  margin: 20px 20px 20px 20px;
}
